<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">  <!-- Log level 지정-->
    <Properties>
        <Property name="LOG_PATTERN"><!--어펜더 설정에 사용될 Property -->
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders><!--어펜더 목록 지정-->

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" /> <!--<Properties> 에서 지장한 값 사용-->
        </Console>
        <!--롤링 설정-->
        <RollingFile name="FileAppender"
                     fileName="logs/application-log4j2.log"
                     filePattern="logs/application-log4j2-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" /><!--최대 10메가-->
                <TimeBasedTriggeringPolicy interval="7" /><!--7일이 지난건 지운다-->
            </Policies>
            <DefaultRolloverStrategy max="10"/> <!--최대 로그 파일 저장 갯수-->
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--com.manning.sbip 및 하위 패키지에서 발생하는 debug 출력-->
        <Logger name="com.manning.sbip" level="debug" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <!--org.springframework.boot 및 하위 패키지에서 발생하는 info 출력-->
        <Logger name="org.springframework.boot" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>